<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Stackify.AppName" value="LoggingConsoleApp" />
    <add key="Stackify.Environment" value="U410" />
    <add key="Stackify.ApiKey" value="Insert API Key" />
  </appSettings>
</configuration>